/**A sintaxe do css funciona da seguinte forma: Voce escolhe o elemente do hmtl que quer modificar e poe aqui no css. O primeiro caso abaixo é o body**/
body{
    background: url(imagens/branco.jpg) center; /*Imagem de fundo do site. center para centralizar a imagem*/
    background-attachment: fixed; /*Comando para fazer com que a imagem não duplique com os zoons*/
    background-size: 100%; /*Comando para a imagem se adptar ao tamanho da tela*/

    display: flex; /*configuração de centralização do slideshow*/
    flex-direction: center; /*configuração de centralização do slideshow*/
    justify-content: center; /*configuração de centralização do slideshow*/
    align-items: center; /*configuração de centralização do slideshow*/
}

.textosecundario{
    width: 95%;
    max-width: 500px;
    margin: auto; /**Para centralização do texto na pagina**/
    font-family: 'Lato', sans-serif; /**Tipo de fonta das letras**/
    line-height: 1.0; /**Espaçamento entre as linhas**/
    color: #6b6262; /*Cor da fonte*/
    position: absolute; /*Centralização do texto*/
    left: 500px;/*posicao*/
    top: 50px;/*posicao*/
    text-align: justify;/*Para justificar o texto*/
    font-size: 15px;/*Tamanho da fonte do texto*/

    /** background: #00000054; /*Configuração do quadrado opaco do meio*/
    /** padding: 5px 40px; /*centralização da borda opaca*/
    /** margin-top: 20px; /*espaçamento da barra opaca da margem do topo*/
    /** margin-bottom: 20px;/*espaçamento da barra opaca da margem de baixo*/
    /** border-radius: 10px;/*bordas arredondadas da barra opaca*/
}

.textoinicial{
    width: 95%;
    max-width: 500px;
    margin: auto; /**Para centralização do texto na pagina**/
    font-family: 'roboto', sans-serif; /**Tipo de fonta das letras**/
    position: absolute; /*Centralização do texto*/
    left: 500px;/*posicao*/
    top: 0px;/*posicao*/
}

.logo{
    /*text-align: center;Centralizando a imagem logo*/
    width: 100px; /*Largura da imagem*/
    height: 100px;/*Altura da imagem*/
    position: absolute; /*Ponto de referencia da logo, canto superior esquerdo*/
    left: 10px;/*posicao*/
    top: 10px;/*posicao*/
}

.botaoentrar{
    position: absolute;
    left: 1100px;
    top: 50px;
    font-family: 'roboto';/*Fonte das letras*/
    user-select: none; /*Para parar de selecionar, quando voce tentar copiar o texto*/
    cursor: pointer;/*Para aparecer o cursor*/
}

.botaoentrar a{/*Tirando o sublinhado do link do href*/
    text-decoration: none;/*none = nenhum*/
    color: #0a0a0a; /*Cor da font, se voce tentar mudar a cor da palavra sem especificar a{}, não vai dar certo*/
}

.botaoentrar:hover {/*Mudanças quando o cursor passar por cima, nesse caso irá aparecer um sublinhado apenas quando o curso do mouse passar por cima da palavra*/
    text-decoration: underline;
}

.botaoincreverse{
    position: absolute;
    left: 1150px; /*posição, para esquerda ou direita*/
    top: 40px;/*posição, para cima ou baixo*/ 
    background-color: #ffa300;/*Cor do quadrado ao redor da letra*/
    border: 10px solid #ffa300;/*Cor da borda do quadrado*/
    border-radius: 5px;/*Arredondamento das bordas do quadrado*/
    text-align: center;/*Centralização do texto no quadrado*/
    user-select: none; /*Para parar de selecionar, quando voce tentar copiar o texto*/
    cursor: pointer;/*Para aparecer o cursor*/
    font-family: 'roboto';/*Fonte das letras*/
}

.botaoincreverse:hover{ /*Aqui vão as auterações de mudança de cor quando o cursor passar por cima da letra*/
    background-color: rgb(218, 166, 63);/*Cor do quadrado quando o cursor passar por cima*/
    border: 10px solid rgb(218, 166, 63);/*Cor da borda do quadrado*/
}

.botaoincreverse a{/*Tirando o sublinhado do link do href*/
    text-decoration: none; /*none = nenhum*/
    color: #ffffff; /*Cor da font, se voce tentar mudar a cor da palavra sem especificar a{}, não vai dar certo*/
}

#slider {/*Configurando o slideshow*/
    width: 100%;/*Centralização do slideshow*/
    height: 25vw;/*Altura do slideshow*/
    max-height: 500px; /*Altura do slideshow*/
    /*width: 2000px;/*Largura do slideshow de canto a canto da tela*/
    position:relative;
    top: 150px;/*posicao*/
}

#slider img{/*Configurando as imagens*/
    position:absolute;/*Poe uma imagem por cima da outra, centralizando-as em um só lugar*/
    width: 100%; /*Largura das imagns*/
    height: 100%; /*Altura das imagens*/
    object-fit:cover;/*Permite que as imagens não percam a qualidade*/
    opacity: 0;/*Desaparecimento das imagens*/
    transition: opacity 800ms;/*velocidade de mudança das imagens*/
}

#slider img.selected{
    opacity: 1;
}

.bike img{ /*Lembre-se, como essas configurações referen-se a imagem, poe-se o img*/
    
    width: 50px; /*Largura das imagns. Sempre tenha cuidado com as unidades de medida*/
    height: 50px; /*Altura das imagens. Sempre tenha cuidado com as unidades de medida*/
    position:absolute; /*Ponto de referencia da logo, canto superior esquerdo*/
    left: 120px;/*posicao*/
    top: 110px;/*posicao*/
}

.trilheiro img{
    width: 40px; /*Largura das imagns. Sempre tenha cuidado com as unidades de medida*/
    height: 50px; /*Altura das imagens. Sempre tenha cuidado com as unidades de medida*/
    position:absolute; /*Ponto de referencia da logo, canto superior esquerdo*/
    left: 180px;/*posicao*/
    top: 110px;/*posicao*/
}

.corrida img{
    width: 40px; /*Largura das imagns. Sempre tenha cuidado com as unidades de medida*/
    height: 40px; /*Altura das imagens. Sempre tenha cuidado com as unidades de medida*/
    position:absolute; /*Ponto de referencia da logo, canto superior esquerdo*/
    left: 230px;/*posicao*/
    top: 115px;/*posicao*/
}

.motanha img{
    width: 40px; /*Largura das imagns. Sempre tenha cuidado com as unidades de medida*/
    height: 40px; /*Altura das imagens. Sempre tenha cuidado com as unidades de medida*/
    position:absolute; /*Ponto de referencia da logo, canto superior esquerdo*/
    left: 290px;/*posicao*/
    top: 115px;/*posicao*/
}

.motocross img{
    width: 40px; /*Largura das imagns. Sempre tenha cuidado com as unidades de medida*/
    height: 40px; /*Altura das imagens. Sempre tenha cuidado com as unidades de medida*/
    position:absolute; /*Ponto de referencia da logo, canto superior esquerdo*/
    left: 350px;/*posicao*/
    top: 115px;/*posicao*/
}

.barco img{
    width: 40px; /*Largura das imagns. Sempre tenha cuidado com as unidades de medida*/
    height: 40px; /*Altura das imagens. Sempre tenha cuidado com as unidades de medida*/
    position:absolute; /*Ponto de referencia da logo, canto superior esquerdo*/
    left: 410px;/*posicao*/
    top: 115px;/*posicao*/
}

.contagem{
    background: #4c8c2b; /*Configuração do quadrado verde de contagem de acessos*/
    width: 98.8%;/*Largura do quadrado de contagem de acessos, o 100% permite que a imagens se adeque perfeitamente ao tamanho da tela, permitindo diminuir ou aumentar seguind o estado da tela*/
    height: 180px;/*Altura do quadrado de contagem de acessos*/
    position: absolute;/*posição do quadrado de contagem de acessos*/
    top: 483px; /*Posição deixo ou cima do quadrado de contagem de acessos*/
}

.contagem a{
    text-align: justify;/*Para justificar o texto*/
    font-family: 'roboto', sans-serif;/*Fonte*/
    font-size: 11px;/*Tamanho da fonte do texto*/
    line-height: 1.5; /**Espaçamento entre as linhas**/
    position: absolute; /*Posição*/
    left: 700px;/*Posição para esquerda*/
    right: 10px;/*Posição para direita*/
    top: 25px;/*Posição para baixo*/
    color:#ffffff;/*Cor da fonte*/
}

.participe{
    position: absolute;/*Posição*/
    left: 710px;/*Posição para esquerda*/
    right: 0px;/*Posição para direita*/
    top: 630px;/*Posição para baixo*/
    font-family: 'roboto';/*Fonte das letras*/
    color:#ffffff;/*Cor da fonte*/
    font-size: 20px;/*Tamanho da fonte do texto*/
}

.participe a{
    color: #ffffff;/*Cor da font, se voce tentar mudar a cor da palavra sem especificar a{}, não vai dar certo*/

}

.bordaloc{
    background: #d1c9c9;/*Configuração do quadrado branco da localização*/
    position: absolute;/*posição do quadrado da localização*/
    width: 50%;/*Largura do quadrado de contagem de acessos, o 100% permite que a imagens se adeque perfeitamente ao tamanho da tela, permitindo diminuir ou aumentar seguind o estado da tela*/
    height: 130px;/*Altura do quadrado de contagem de acessos*/
    top: 665px;/*Posição para baixo*/
    left: 150px;/*Posição para direita*/    
    font-family: 'roboto' sans-serif;/*Fonte das letras*/
}

.bordaloc2{
    background: #8f8888;/*Configuração do quadrado branco da localização*/
    position: absolute;/*posição do quadrado da localização*/
    width: 30%;/*Largura do quadrado de contagem de acessos, o 100% permite que a imagens se adeque perfeitamente ao tamanho da tela, permitindo diminuir ou aumentar seguind o estado da tela*/
    height: 130px;/*Altura do quadrado de contagem de acessos*/
    top: 665px;/*Posição para baixo*/
    left: 750px;/*Posição para direita*/    
    
}